<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077526061292-ofeb5vc7oc5hi9eiqi40t3gge762t4qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077526061292-ofeb5vc7oc5hi9eiqi40t3gge762t4qi</string>
	<key>API_KEY</key>
	<string>AIzaSyA13_UU_RDf9_OlhUbHrCl0Dgz6wOAmWKo</string>
	<key>GCM_SENDER_ID</key>
	<string>1077526061292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corel.hackerearthMtnBj2022</string>
	<key>PROJECT_ID</key>
	<string>hackerearth-mtn-bj-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>hackerearth-mtn-bj-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077526061292:ios:97f4da2536eee171bf05c9</string>
</dict>
</plist>